<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>Cards</title>
  </head>
  <body>

    <div id="root">

      <select class="" name="" v-model="select">
        <option value="" v-for="genre in genres">{{ genre }}</option>
      </select>

      <ul id="cards">
        <li v-for="card in cards">
          <div class="">
            <img :src="card.poster" alt="">
            <h2>{{ card.title }}</h2>
            <p>Autore: {{ card.author }}.</p>
            <p>Genere: {{ card.genre }}.</p>
            <p>Anno: {{ card.year }}.</p>
          </div>
        </li>
      </ul>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
